.vdom-item {
  display: flex;
  flex-direction: column;
  order: 2;
  background-color: whitesmoke;
  /*border-top: 1px solid gray;*/
  cursor: pointer;
}

.vdom-item .fa-eye {
  margin: 5px;
}

.vdom-item .fa-caret-down {
  margin: 5px;
}

.vdom-item .fa-arrows-alt {
  cursor: all-scroll;
  float: right;
  margin: 5px;
}
.vdom-item .element-name {
  margin: 5px;
}

.vdom-item.layer-hidden {
  opacity: .5;
}

.parent .icon-container {
  padding-left: 10px;
}

.parent .parent .icon-container {
  padding-left: 20px;
}

.parent .parent .parent .icon-container {
  padding-left: 30px;
}

.parent .parent .parent .parent .icon-container {
  padding-left: 40px;
}

.parent .parent .parent .parent .parent .icon-container {
  padding-left: 50px;
}
.parent .parent .parent .parent .parent .parent .icon-container {
  padding-left: 60px;
}
.parent .parent .parent .parent .parent .parent .parent .icon-container {
  padding-left: 70px;
}
.parent .parent .parent .parent .parent .parent .parent .parent .icon-container {
  padding-left: 80px;
}

.parent .element-name {
  padding-left: 40px;
}
.parent .parent .element-name{
  padding-left: 50px;
}
.parent .parent .parent .element-name{
  padding-left: 60px;
}
.parent .parent .parent .parent .element-name{
  padding-left: 70px;
}
.parent .parent .parent .parent .parent .element-name {
  padding-left: 80px;
}
.parent .parent .parent .parent .parent .parent .element-name {
  padding-left: 90px;
}
.parent .parent .parent .parent .parent .parent .parent .element-name {
  padding-left: 100px;
}
.parent .parent .parent .parent .parent  .parent  .parent  .parent .element-name {
  padding-left: 110px;
}

.parent .icon-container + .element-name{
  padding-left: 0px !important;
}


.parent>span {
  margin-left: -6px;
}

.vdom-item.collapse>.vdom-item {
    display: none;
}
.vdom-item.collapse>div span [toggle]::before {
  font-family: Font Awesome\ 5 Free;
  content: '\f0da';
}
/*.vdom-item.parent div + i::before {*/
/*  font-family: Font Awesome\ 5 Free;*/
/*  content: '\f070';*/
/*}*/
